{% load static %}
<div class="position-relative mt-4">

    <div class="row mb-2 mt-4">
    {% autoescape off %}
    {% for post in noticias1 %}
        <div class="col-md-12  mt-4">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">{{ post.autor }}</strong>
              <h2 class="mb-0">
                <a class="text-dark" href="#">{{ post.titulo  }}</a>
              </h2>
              <div class="mb-1 text-muted">{{ post.creado_on}}</div>
              <p class="card-text mb-auto">{{post.contenido|truncatewords_html:70 }}</p>
              <a href="{{ post.slug }}">Continúa leyendo</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" style="width: 30rem;" src="{{ post.image.url}}" alt="{{ post.titulo }}">
          </div>
        </div>
      {% endfor %}
      {% endautoescape %}
    </div>
    
</div>