{% extends 'base.html' %}
{% load static %}
{% block title %}
TERTULIA
{% endblock %}
{% block description %}
{% endblock %}
{% block head %}
    <meta property="og:title" content="TERTULIA" />
    <meta property="og:description" content="Al Día con las noticias" />
{% endblock %}


{% block content %}
    <!--   ================================================== -->
    <!--{% include "carrusel.html" %}-->
    {% include "cuerpo.html" %}
    {% include "cuerpo1.html" %}
    {% include "cuerpo2.html" %}
    <!--{% include "cuerpo3.html" %}-->

{% endblock %}
