{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- START THE FEATURETTES -->
 {% autoescape off %}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
    <div class="col-md-12  mt-4">
        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">{{ object.user.get_full_name }}</h2>
            <p class="lead">{{ object.bio }} </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-thumbnail img-fluid mx-auto" src="{{ object.image.url}}" alt="{{ object.user.get_full_name  }}">
            <span class="text-muted">...{% include "redes.html" %}</span>
          </div>
        </div>

        <hr class="featurette-divider">
    </div>
 {% endautoescape %}
        <!-- /END THE FEATURETTES -->
        <div>
            {% include "cuerpo2.html" %}
        </div>
    </div>



{% endblock %}